package {{PKG}};

// import jakarta.validation.constraints.NotBlank;

/** {{NAME}} 作成リクエスト。 */
public record Create{{NAME}}Request(
    // @NotBlank(message = "TODO: バリデーションメッセージを設定")
    // String name // TODO: フィールドを定義する
) {}
