package {{PKG}};

import {{AGG_PKG}}.{{AGGREGATE}};
import {{ID_PKG}}.{{ID_CLS}};
import java.util.Objects;
import lombok.EqualsAndHashCode;
import lombok.Getter;
import lombok.ToString;
import org.jmolecules.ddd.types.Entity;

/** {{NAME}} エンティティ。 */
@Getter
@EqualsAndHashCode(of = "id")
@ToString
public class {{NAME}} implements Entity<{{AGGREGATE}}, {{ID_CLS}}> {

  /** 識別子。 */
  private final {{ID_CLS}} id;

  /** コンストラクタ。 */
  /* default */ {{NAME}}(final {{ID_CLS}} id) {
    Objects.requireNonNull(id, "id must not be null");
    this.id = id;
  }

  /** 永続化データからエンティティを再構築する。 */
  public static {{NAME}} reconstitute(final {{ID_CLS}} id) {
    return new {{NAME}}(id);
  }

  @Override
  public {{ID_CLS}} getId() {
    return id;
  }
}
