package {{PKG}};

import lombok.extern.slf4j.Slf4j;
import org.springframework.web.bind.annotation.RestControllerAdvice;

/** {{NAME}} モジュールの例外ハンドラ。 */
@Slf4j
@RestControllerAdvice(basePackages = "{{BASE_PKG}}.{{MODULE}}")
public class {{NAME}}ExceptionHandler {}
