package {{PKG}};

/** {{NAME}} 例外。 */
public class {{NAME}}Exception extends RuntimeException {

  private static final long serialVersionUID = 1L;

  /** メッセージを指定して例外を生成する。 */
  public {{NAME}}Exception(final String message) {
    super(message);
  }
}
