package {{PKG}};

import {{GEN_PKG}}.{{TARGET}}IdGenerator;
import {{TARGET_PKG}}.{{TARGET}};
import lombok.RequiredArgsConstructor;
import org.jmolecules.ddd.annotation.Factory;

/** {{TARGET}} ファクトリ。 */
@RequiredArgsConstructor
@Factory
public class {{TARGET}}Factory {

  /** ID ジェネレータ。 */
  private final {{TARGET}}IdGenerator idGenerator;

  /** 新規生成。 */
  public {{TARGET}} create() {
    return {{TARGET}}.reconstitute(idGenerator.generate());
  }
}
