package {{PKG}};

import {{ID_PKG}}.{{ID_CLS}};

/** {{TARGET}} の ID ジェネレータ。 */
@SuppressWarnings("PMD.ImplicitFunctionalInterface")
public interface {{TARGET}}IdGenerator {

  /** ID を生成する。 */
  {{ID_CLS}} generate();
}
