package {{PKG}};

import {{SVC_PKG}}.{{TARGET}}QueryService;
import lombok.RequiredArgsConstructor;
import lombok.extern.slf4j.Slf4j;
import org.springframework.stereotype.Component;

/** {{TARGET}} クエリサービス実装。 */
@Slf4j
@RequiredArgsConstructor
@Component
public class {{TARGET}}QueryServiceImpl implements {{TARGET}}QueryService {}
